*.iml
.gradle
/local.properties
/.android
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.gradle-user
/.gradle-user-codex
/.kotlin
full_crash.log
